# Virtual Environment
venv/
.env/
.venv/

# VS Code
.vscode/

# OneDrive / Windows junk
*.tmp
~$*
Thumbs.db
desktop.ini

# Logs
*.log

# Environment variables
.env

# Distribution / packaging
build/
dist/
*.egg-info/
